/* https://material-foundation.github.io/material-theme-builder/?primary=%2344C056&colorMatch=false */

.light {
	--primary: #39693b;
	--primary-container: #baf0b6;
	--on-primary-container: #215025;

	--tertiary: #39656b;

	--surface: #f7fbf1;
	--on-surface: #181d17;
	--on-surface-variant: #424940;
	--surface-container-lowest: #ffffff;

	--outline: #72796f;
}
