/**** MOBILE ****/
body > header.game-start {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	width: 100dvw;

	position: fixed;
	top: 0;

	padding: 1rem;
}

header.game-start > img {
	width: 4rem;
	height: auto;
}

header.game-start > h1 {
	font-size: 1.5rem;
}

body > main {
	width: 100dvw;
	padding: 0 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 0.75rem;

	display: none;
}

main > .players-stats {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.players-stats > p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

span.person-icon,
span.robot-icon {
	font-size: 1rem;
	color: var(--tertiary);
}

main > .gameboard {
	height: 300px;
	width: 300px;

	display: grid;
	gap: 2px;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard > div {
	outline: 2px ridge black;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: calc(300px / 9);
}

main > .active-player-display {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1rem;
}

.active-player-display > h2 {
	font-weight: normal;
	font-size: 1.25rem;
}

.active-player-display > p {
	font-size: 6rem;
}

body > dialog#game-result-modal {
	width: 80dvh;
	padding: 1rem;
	border-radius: 0.5rem;
}

dialog#game-result-modal::backdrop {
	background-color: rgba(0, 0, 0, 0.3);
}

dialog#game-result-modal > *:nth-child(2) {
	margin: 2rem 0;
}

dialog#game-result-modal > h2 {
	font-size: 2.5rem;
	text-align: center;
}

dialog#game-result-modal > .final-result-stats {
	display: flex;
	justify-content: space-between;
}

.final-result-stats > p {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 0.25rem;
}

.final-result-stats > p,
.final-result-stats > p span {
	font-size: 1.25rem;
}

dialog#game-result-modal > .result-modal-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.result-modal-buttons > button:first-child,
.result-modal-buttons > button:last-child {
	padding: 0.75rem 0;
	border-radius: 0.5rem;
	width: 100%;
	cursor: pointer;
}

.result-modal-buttons > button:first-child {
	border: 2px solid var(--primary);
	background-color: inherit;
	color: var(--primary);
}

.result-modal-buttons > button:last-child {
	border: 2px solid var(--primary);
	background-color: var(--primary);
	color: var(--on-primary);
}

/***************/

/* Tablet (≥ 640px) */
@media (min-width: 640px) {
	/* Tablet styles */
	body > header,
	body > main {
		width: fit-content;
	}

	body > dialog#game-result-modal {
		width: 50%;
	}
}

/* Small Laptop (≥ 768px) */
@media (min-width: 768px) {
	/* Small laptop styles */
	body > dialog#game-result-modal {
		width: 40%;
	}
}

/* Large Desktop / Wide screens (≥ 1280px) */
@media (min-width: 1280px) {
	/* Large desktop styles */
	body > dialog#game-result-modal {
		width: 30%;
	}
}
