/**** RESETS ****/
body {
	width: 100dvw;
	height: 100dvh;
}

button {
	appearance: none;
	outline: none;
	border: none;
}

h1,
h2,
p {
	margin: 0;
	padding: 0;
}

input[type="text"] {
	border: none;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
	min-inline-size: 0; /* helps reset width in some browsers */
}
/***************/

/**** MOBILE ****/
:root {
	--font-fallbacks: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	font-family: "Winky Rough", var(--font-fallbacks);
	font-size: 1rem;

	color: var(--on-surface);

	--shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	--shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/***************/
