/**** MOBILE ****/
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--surface);
}

header {
	width: 90%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

header > img {
	height: auto;
	width: 40%;
}

header > h1 {
	font-size: 3rem;
}

form {
	width: 90%;
	margin-top: 3rem;
}

form > fieldset > div:first-child {
	margin-bottom: 1.5rem;
}

form > fieldset > div:last-child {
	margin-bottom: 2rem;
}

form > fieldset .name-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

fieldset .name-label > .player-type-radio {
	display: flex;
	align-items: center;
	gap: 2px;

	color: var(--outline);
}

.name-label > .player-type-radio input[type="radio"] {
	appearance: none;
}

.player-type-radio input[type="radio"]:checked + label {
	color: var(--tertiary);
}

.name-label > .player-type-radio > span:hover {
	color: var(--tertiary);
	cursor: pointer;
}

fieldset > div > input[type="text"] {
	background-color: var(--surface-container-lowest);

	padding: 0.5rem;

	width: 100%;

	border: 2px solid var(--outline);
	border-radius: 0.25rem;
}

fieldset > div > input[type="text"]:disabled {
	background-color: var(--surface-container);
	opacity: 60%;
}

form > .start-game-button {
	padding: 0.75rem 1rem;
	display: block;
	margin: 0 auto;

	width: 80%;

	background-color: var(--primary-container);
	color: var(--on-primary-container);

	font-weight: bold;

	border-radius: 0.75rem;
	box-shadow: var(--shadow-1);
}

/***************/
